CustomUtills/bin/
CustomUtills/obj/
DBManagement/bin/
DBManagement/obj/
RTD_DataViewer/.vs/
RTD_DataViewer/bin/
RTD_DataViewer/obj/
UserWinfromControl/bin/
UserWinfromControl/obj/
XmlManagement/bin/
XmlManagement/obj/
*.dll
*.pdb
CustomUtills/bin/Debug/net6.0/CustomUtills.dll
CustomUtills/bin/Debug/net6.0/CustomUtills.pdb
CustomUtills/obj/CustomUtills.csproj.nuget.dgspec.json
CustomUtills/obj/Debug/net6.0/CustomUtills.AssemblyInfo.cs
CustomUtills/obj/Debug/net6.0/CustomUtills.AssemblyInfoInputs.cache
CustomUtills/obj/Debug/net6.0/CustomUtills.assets.cache
CustomUtills/obj/Debug/net6.0/CustomUtills.dll
CustomUtills/obj/Debug/net6.0/CustomUtills.GeneratedMSBuildEditorConfig.editorconfig
CustomUtills/obj/Debug/net6.0/CustomUtills.pdb
CustomUtills/obj/Debug/net6.0/CustomUtills.sourcelink.json
CustomUtills/obj/Debug/net6.0/ref/CustomUtills.dll
CustomUtills/obj/Debug/net6.0/refint/CustomUtills.dll
CustomUtills/obj/project.assets.json
CustomUtills/obj/project.nuget.cache
DBManagement/bin/Debug/net6.0/CustomUtills.dll
DBManagement/bin/Debug/net6.0/CustomUtills.pdb
DBManagement/bin/Debug/net6.0/DBManagement.dll
DBManagement/bin/Debug/net6.0/DBManagement.pdb
DBManagement/obj/DBManagement.csproj.nuget.dgspec.json
DBManagement/obj/Debug/net6.0/DBManagement.AssemblyInfo.cs
DBManagement/obj/Debug/net6.0/DBManagement.AssemblyInfoInputs.cache
DBManagement/obj/Debug/net6.0/DBManagement.assets.cache
DBManagement/obj/Debug/net6.0/DBManagement.csproj.AssemblyReference.cache
DBManagement/obj/Debug/net6.0/DBManagement.csproj.CoreCompileInputs.cache
DBManagement/obj/Debug/net6.0/DBManagement.dll
DBManagement/obj/Debug/net6.0/DBManagement.GeneratedMSBuildEditorConfig.editorconfig
DBManagement/obj/Debug/net6.0/DBManagement.pdb
DBManagement/obj/Debug/net6.0/DBManagement.sourcelink.json
DBManagement/obj/Debug/net6.0/ref/DBManagement.dll
DBManagement/obj/Debug/net6.0/refint/DBManagement.dll
DBManagement/obj/project.assets.json
DBManagement/obj/project.nuget.cache
RTD_DataViewer/.vs/ProjectEvaluation/rtd_dataviewer.metadata.v7.bin
RTD_DataViewer/.vs/ProjectEvaluation/rtd_dataviewer.projects.v7.bin
RTD_DataViewer/.vs/RTD_DataViewer/DesignTimeBuild/.dtbcache.v2
RTD_DataViewer/.vs/RTD_DataViewer/FileContentIndex/99bd69a2-c6e1-449f-8daa-efc71dfdc85f.vsidx
RTD_DataViewer/.vs/RTD_DataViewer/FileContentIndex/bc5625fb-7527-40f7-ad1a-692e4a68e2a5.vsidx
RTD_DataViewer/.vs/RTD_DataViewer/FileContentIndex/c2778156-ec50-4490-964d-b980dae1e398.vsidx
RTD_DataViewer/.vs/RTD_DataViewer/FileContentIndex/e2a62e7c-0a11-43cd-a0f4-bf926f80f95e.vsidx
RTD_DataViewer/.vs/RTD_DataViewer/FileContentIndex/ece4a4e7-4767-45ae-87c8-735d715884fd.vsidx
RTD_DataViewer/.vs/RTD_DataViewer/v17/.futdcache.v2
RTD_DataViewer/.vs/RTD_DataViewer/v17/.suo
RTD_DataViewer/bin/Debug/net6.0-windows/CustomUtills.dll
RTD_DataViewer/bin/Debug/net6.0-windows/CustomUtills.pdb
RTD_DataViewer/bin/Debug/net6.0-windows/DBManagement.dll
RTD_DataViewer/bin/Debug/net6.0-windows/DBManagement.pdb
RTD_DataViewer/bin/Debug/net6.0-windows/RTD_DataViewer.dll
RTD_DataViewer/bin/Debug/net6.0-windows/RTD_DataViewer.exe
RTD_DataViewer/bin/Debug/net6.0-windows/RTD_DataViewer.pdb
RTD_DataViewer/bin/Debug/net6.0-windows/UserWinfromControl.dll
RTD_DataViewer/bin/Debug/net6.0-windows/UserWinfromControl.pdb
RTD_DataViewer/bin/Debug/net6.0-windows/XmlManagement.dll
RTD_DataViewer/bin/Debug/net6.0-windows/XmlManagement.pdb
RTD_DataViewer/obj/Debug/net6.0-windows/apphost.exe
RTD_DataViewer/obj/Debug/net6.0-windows/ref/RTD_DataViewer.dll
RTD_DataViewer/obj/Debug/net6.0-windows/refint/RTD_DataViewer.dll
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.AssemblyInfo.cs
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.AssemblyInfoInputs.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.assets.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.csproj.AssemblyReference.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.csproj.CoreCompileInputs.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.csproj.GenerateResource.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.dll
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.GeneratedMSBuildEditorConfig.editorconfig
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.genruntimeconfig.cache
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.pdb
RTD_DataViewer/obj/Debug/net6.0-windows/RTD_DataViewer.sourcelink.json
RTD_DataViewer/obj/project.assets.json
RTD_DataViewer/obj/project.nuget.cache
RTD_DataViewer/obj/RTD_DataViewer.csproj.nuget.dgspec.json
UserWinfromControl/bin/Debug/net6.0-windows/CustomUtills.dll
UserWinfromControl/bin/Debug/net6.0-windows/CustomUtills.pdb
UserWinfromControl/bin/Debug/net6.0-windows/UserWinfromControl.dll
UserWinfromControl/bin/Debug/net6.0-windows/UserWinfromControl.pdb
UserWinfromControl/obj/Debug/net6.0-windows/ref/UserWinfromControl.dll
UserWinfromControl/obj/Debug/net6.0-windows/refint/UserWinfromControl.dll
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.AssemblyInfo.cs
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.AssemblyInfoInputs.cache
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.assets.cache
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.csproj.AssemblyReference.cache
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.csproj.CoreCompileInputs.cache
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.dll
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.GeneratedMSBuildEditorConfig.editorconfig
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.pdb
UserWinfromControl/obj/Debug/net6.0-windows/UserWinfromControl.sourcelink.json
UserWinfromControl/obj/project.assets.json
UserWinfromControl/obj/project.nuget.cache
UserWinfromControl/obj/UserWinfromControl.csproj.nuget.dgspec.json
XmlManagement/bin/Debug/net6.0/CustomUtills.dll
XmlManagement/bin/Debug/net6.0/CustomUtills.pdb
XmlManagement/bin/Debug/net6.0/DBManagement.dll
XmlManagement/bin/Debug/net6.0/DBManagement.pdb
XmlManagement/bin/Debug/net6.0/XmlManagement.dll
XmlManagement/bin/Debug/net6.0/XmlManagement.pdb
XmlManagement/obj/Debug/net6.0/ref/XmlManagement.dll
XmlManagement/obj/Debug/net6.0/refint/XmlManagement.dll
XmlManagement/obj/Debug/net6.0/XmlManagement.AssemblyInfo.cs
XmlManagement/obj/Debug/net6.0/XmlManagement.AssemblyInfoInputs.cache
XmlManagement/obj/Debug/net6.0/XmlManagement.assets.cache
XmlManagement/obj/Debug/net6.0/XmlManagement.csproj.AssemblyReference.cache
XmlManagement/obj/Debug/net6.0/XmlManagement.csproj.CoreCompileInputs.cache
XmlManagement/obj/Debug/net6.0/XmlManagement.dll
XmlManagement/obj/Debug/net6.0/XmlManagement.GeneratedMSBuildEditorConfig.editorconfig
XmlManagement/obj/Debug/net6.0/XmlManagement.pdb
XmlManagement/obj/Debug/net6.0/XmlManagement.sourcelink.json
XmlManagement/obj/project.assets.json
XmlManagement/obj/project.nuget.cache
XmlManagement/obj/XmlManagement.csproj.nuget.dgspec.json
