CustomUtills/bin/
CustomUtills/obj/
DBManagement/bin/
DBManagement/obj/
RTD_DataViewer/.vs/
RTD_DataViewer/bin/
RTD_DataViewer/obj/
UserWinfromControl/bin/
UserWinfromControl/obj/
XmlManagement/bin/
XmlManagement/obj/