<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DBConnectionString" type="CustomUtil.DBConnectionString, CustomUtil" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ESGM_BMES_ELTR_P01" value="ESGM_BMES_ELTR_P01" />
    <add key="ESGM_BMES_CELL_P01" value="Data Source=10.95.9.52,7433;Initial catalog=ESGM_BMES_CELL_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AB;Plant ID=U1" />
    <add key="ESGM_BMES_FORM_P01" value="Data Source=10.95.9.59,7433;Initial catalog=ESGM_BMES_FORM_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AB;Plant ID=U1" />
    <add key="CNB_BMES_ELTR_P01" value="Data Source=10.61.7.37,7433;Initial catalog=CNB_BMES_ELTR_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=EF;Plant ID=N3" />
    <add key="CNB_BMES_CELL_P01" value="Data Source=10.61.13.33,7433;Initial catalog=CNB_BMES_CELL_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AA;Plant ID=N3" />
    <add key="CNB_BMES_FORM_P02" value="Data Source=10.61.13.37,7433;Initial catalog=CNB_BMES_FORM_P02;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AA;Plant ID=N3" />
    <add key="ESHM_BMES_ELTR_P01" value="Data Source=10.99.92.201,7433;Initial catalog=ESHM_BMES_ELTR_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=EN;Plant ID=B1" />
    <add key="ESHM_BMES_CELL_P01" value="Data Source=10.99.92.202,7433;Initial catalog=ESHM_BMES_CELL_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AD;Plant ID=B1" />
    <add key="ESHM_BMES_FORM_P01" value="Data Source=10.99.92.203,7433;Initial catalog=ESHM_BMES_FORM_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AD;Plant ID=B1" />
    <add key="CWA_BMES_ELTR_P01" value="Data Source=10.32.169.171,7433;Initial catalog=CWA_BMES_ELTR_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=EJ;Plant ID=W3" />
    <add key="CWA_BMES_CELL_P01" value="Data Source=10.32.169.204,7433;Initial catalog=CWA_BMES_CELL_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AC;Plant ID=W4" />
    <add key="CWA_BMES_FORM_P01" value="Data Source=10.32.169.209,7433;Initial catalog=CWA_BMES_FORM_P01;User ID=rtd_app;Password =##r51T1980D@!;Area ID=AC;Plant ID=W4" />
  </appSettings>
  <DBConnectionString>
    <Server>10.95.9.45,7433;</Server>
    <Database>ESGM_BMES_ELTR_P01</Database>
    <UserId>rtd_app</UserId>
    <Password>##r51T1980D@!</Password>
    <AreaID>EI</AreaID>
    <PlantID>U1</PlantID>
  </DBConnectionString>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>